[flake8]
max-line-length = 120
exclude = .git,__pycache__,venv,.venv,env,.env,build,dist,docs,migrations,tests
ignore = E501,W503 # E501: Line too long (handled by Black), W503: Line break before binary operator