# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Virtual environment
virtualenv/
virtual_env/
v_env/
env/
venv/

# Database
instance/*.db
*.sqlite3

# Environment variables
.env

# IDE
.idea/
.vscode/