@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Custom global styles or overrides */
body {
  font-family: 'Inter', sans-serif;
  @apply bg-background text-text antialiased;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}