# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.egg-info/
.pytest_cache/
.mypy_cache/
.ipynb_checkpoints/

# Docker
*.env
.env.prod
.dockerignore
# Ignore built Docker images
# *.tar

# Terraform
.terraform/
*.tfplan
*.tfstate
*.tfstate.backup
crash.log
.terraform.lock.hcl

# IDEs
.idea/
.vscode/

# Logs
*.log

# Reports
bandit_report.json